#collectionModal {
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 5000;
  background-color:rgba(0,0,0,0.6);
}

#collectionModal div#dialog {
  top: 50%;
  left: 50%;
  width:480px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #e1e8ed;
  border-radius: 5px;
  padding:0px;
  text-align:left;
}

#collectionModal div#header {
  text-align: center;
  margin: 0px;
  padding: 16px;
}

#collectionModal div#contents {
  padding: 8px 16px;
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
}

#collectionModal input[type=checkbox] {
  transform: scale(1.1);
}

#collectionModal div#footer {
  min-height: 30px;
  height: auto;
  vertical-align: middle;
  margin: 0px;
  padding: 16px;
}

#collectionModal a.btn {
  margin-left: 6px;
}

#collectionModal p {
  margin: 8px 0px;
  font-size: 1.1em;
}

#collectionModalList li {
  cursor: pointer;
  margin: 10px 0px 0px 8px;
}
