body {
  min-width: 640px;
  vertical-align: top;
  overflow-x: hidden;
  /*margin: 0;*/
  padding-bottom: 100px;
}

@media (min-width: 0px) {
  .ksd-navigation-main .navbar-header,
  .ksd-navigation-main .navbar-nav,
  .ksd-navigation-main .navbar-nav > li {
    float: left !important;
  }

  .ksd-navigation-main .navbar-nav {
    margin: 0 !important;
  }
}

.ksd-navigation-main .navbar-brand svg {
  height: 200%;
  width: auto;
  margin-top: -25%;
  fill: #fff;
}

.ksd-navigation-main .navbar-brand {
  opacity: 0.75;
  transition: opacity 100ms ease-out;
}

.ksd-navigation-main .navbar-brand:hover,
.ksd-navigation-main .navbar-brand:focus,
.ksd-navigation-main .navbar-brand:active {
  opacity: 1;
  outline: 0;
}

/*.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}*/

#embedTemplate {
  width:100%;
  height: 80px;
  font-size: .8em;
}

.spinner {
  height: 40px;
  width: 100%;
  text-align: center;
}

.spinner img {
  height: 20px;
}

.norows {
  text-align: center;
}

div.tweet_image {
  width: 80%; /* or whatever is required */
  height: 120px;
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */
  margin: 6px 0px;
  border: 1px solid #ccc;
}

/* Set the image to fill its parent and make transparent */
img.tweet_image {
  position: relative; /* allows repositioning */
  margin-top: -10%;
  margin-left: -200%; /* magic! */
  left: 100%; /* move the whole width of the image to the right */
  width: 100%;
}

img.external {
  opacity: 0.5;
  margin: 0px 0px 0px 6px;
}

#tutorial img {
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 12px;
  margin: 18px auto 18px 0px;
  width: 100%;
  max-width: 100%;
  display:block;
}

hr {
  visibility: hidden;
  margin: 1rem;
  height: 0;
}

#tweets_rows svg.move {
  cursor: move;
  width: 14px;
  height: auto;
  fill: #000;
  padding: 3px 0;
}
